a {
    color: #4134FF;
}

code {
 background-color: inherit;
 color: white;
}


.nav {
    backface-visibility: visible;
}
    

.download-nav {
    color: #625DAA !important;
}

.download-nav:hover {
    color: #3F3899 !important;
}

.title-con {
    text-align: center;
    margin-bottom: 0px;
    color: white;
    background: linear-gradient(#625DAA, #DA8CB9);
    background-image: url(./../images/skyline-MarioCutroneo.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title {
    font-size: 150px !important;
    margin-bottom: 30px;
    margin-top: 30px;
}

.anchor {
    position: relative;
    top: -50px;
    display: block;
}

.graph-description {
    font-size: 20px;   
}

.tutorial-p {
    margin-top: 50px;   
}

.code {
    text-align: left;
}

pre.prettyprint {
    padding: 5px !important;
}
.graph {
    text-align: center;   
}

.padding-around {
    padding-top: 85px;
    padding-bottom: 85px;
}

.colored-blocks {
    text-align: center;
    background: linear-gradient(#625DAA, #DA8CB9);
    color: white;
    margin-bottom: 0px;
}

.section-title {
    font-size: 72px;
}

.tutorial-title {
    margin-top: 50px;
}

.download-text {
    font-size: 18px !important;
}

.btn-primary {
    background-color: #625DAA !important;
    border-color: #5F3288 !important;
    background-image: none !important;
}

.btn-primary:hover {
    background-color: #3F3899;
    background-image: none;
}

.dropdown {
    text-align: left;
    display: table-cell;
    padding-right: 30px;
    padding-left: 30px;
}

.dropdown-toggle {
    background-image: none !important;
    background-color: #625DAA !important;
    border-color: #5F3288 !important;
    color: white !important;
    text-shadow: none;
}

.dropdown ul {
    left: inherit;
}

#bar-graph, #animating-bar-graph {
    display: block;
    height: 500px;
    width: 500px;
    border-style: solid;
    border-color: black;
    border-width: 1px; 
    font-family: Helvetica, Arial;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;

    /*
    display:block; 
    height:500px;
    width:500px;
    background-color:white;
    */
}

#circle-graph {
    display:block; 
    height:500px;
    width:500px;
    background-color: inherit;
    margin-bottom: 10px;
}

.color {
    width: 5em;   
}

.number {
    width: 3em;   
}
